body{
    background: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background: white;
    padding:20px;  /* give extra space from top and bottom */
    width:75%;
    margin:auto;   /* center horizontally */
}

h1{
    color: darkolivegreen;
}

li{
    list-style-type: none;  /* no more bullets */
    display:inline-block;   /* has tabs vertically aligned */
}

td{
    border:2px dotted gray;
    background: green;
    padding:5px;
}