body {
    font-family:Arial, Helvetica, sans-serif;
    background: #CFF09E;
}

.example {
    background:#A8DBA8;
    padding:10px;
    margin:10px; 
    border-radius:5px;
    min-height:200px;
}

.section{
    margin: 10px;
}

.example h1 {
    text-align:center;
}

#main-header h1 {
    color:rgb(8, 8, 8);
}


    #content {
        display:flex;
        flex-wrap:wrap;
    }

    .example {
        width:30%;
    }

    .largewidth {
        width:100%;
        margin:auto;
    }

    .movies {
        display:flex;
        border: 5px solid slategray;
        margin: 10px;
        padding: 10px;
        background-color: #3B8686;
    }

    .movies img {
        height: 95%;
        width:200px;
        border: 8px solid rgb(136, 134, 133);
        transition: transform .2s;
    }

    .movies img:hover{
        transform: scale(1.5);
    }



